# Dependencies
**/node_modules
**/dist
**/build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# Environment variables
# This will ignore .env files in any folder
**/.env*

# Mac/Windows system files
.DS_Store
Thumbs.db

# Optional editor directories
.vscode/
.idea/

backend/node_modules
frontend/node_modules